.container.main-page
  h1 PowerDMS
    br
    small Javascript Project

  .container.row
    .col-md-6
      h1.number ①
      h1 Hi!
      p Thanks for showing interest in our company' In order to better understand how you build software,  we'd like you to create this browser-based application for us It should adhere to the following guidelines 
        ul
          li We anticipate that this project should take about 4-6 hours More or less time can be spent at your discretion,  but that's the target 
          li This should be o single page,  MVC application Frameworks that con help you with this are Anguloris (preferred),  Knockout,  Embeds,  BackboneIs 
          li Use the Amazon Item & Cart API os o bock sod http // dace owe amazon com/AWSECornmerceSenoce/lotest/D0/ IternSeorch html 
        | Please use this mockup as your instruction manual Basically,  your lob is to make this real 
    .col-md-6
      h1.number ②
      h1 Evaluation
      p Wel be looking at the following things when reviewing your creation
        ul
          li Accurocy to this mockup That It works 
          li Organization of your cod
          li The degree to which your JS/CSS/HTML. adheres to Industry standards 
        | Note thot this is o lo-fi mockup,  while we're not specifically looking for this,  if you wont to show off your graphic design skills,  feel free to use typography color,  and texture'''

  div.text-center
    a.btn.btn-primary(href='store') View the Markup!
